body {
	max-width: 1920px;
	width: 100%;
	background-color: #F8F8F8;
}
.container {
	max-width: 1318px;
	width: 100%;
	margin: 50px auto;
}
.firstline {
	font-size: 26px;
	color: #404040;
	padding-left: 18px;
}
.firstline:before {
	content: '';
	display: inline-block;
	width: 10.36px;
	height: 10.02px;
	background-color: #6294A2;
	border-radius: 50px;
	margin-left: 20px;
}
.reviews {
	font-size: 13px;
	color: #707070;
    padding-bottom: 15px;
    padding-left: 38px;
    padding-right: 67px;
}
.content-title {
	font-size: 20px;
	color: #333333;
	padding-bottom: 5px;
	padding-left: 38px;
	padding-right: 67px;
}
.description {
	font-size: 15px;
	color: #707070;
	padding-left: 38px;
	padding-right: 67px;
	height: 48px;
}
.first-section {
	width: 405.82px;
	height: 478px;
	background-color: white;
}
.first-section div {
	padding-top: 35px;
}
.first-block-pic {
	width: 605px;
	height: 477.6px;
}
.block-title {
	font-size: 15px;
	color: #F0F0F0;
	position: absolute;
	bottom: 92px;
	left: 40px;
}
.pic-title h5 {
	font-size: 32px;
	color: #F0F0F0;
	position: absolute;
	bottom: 50px;
	left: 40px;
}
.pic-title p {
	font-size: 15px;
	color: #F0F0F0;
	position: absolute;
	left: 40px;
	bottom: 29px;
}
.relative {
	position: relative;
	width: 605.52px;
	height: 477.61px;
}
.parent {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.secondline {
	font-size: 26px;
	color: #333333;
	padding-top: 35px;
	padding-left: 10px;
}
.secondline:before {
	content: '';
	display: inline-block;
	width: 10.36px;
	height: 10.02px;
	background-color: #6294A2;
	border-radius: 50px;
	margin-left: 20px;
}
.section3 {
	width: 1318px;
	height: 423px;
	background-color: white;
}
.box {
	width: 377px;
	height: 315px;
	padding-top: 44px;
	padding-right: 48px;
}
.box img {
	width: 377px;
	height: 156px;
	padding-left: 25px;
}
.box h6 {
	font-size: 20px;
	color: #333333;
	padding-top: 20px;
	padding-left: 36px;
}
.box p {
	font-size: 15px;
	color: #707070;
	padding-top: 20px;
	padding-left: 36px;
}
.parent2 {
	display: flex;
	width: 1231px;
	height: 315px;
}
footer {
	width: 1269px;
	height: 164px;
	background-color: white;
	display: flex;
}
.footer-box1 {
	width: 376px;
	height: 152px;
	padding-left: 50px;
}
.footer-box1 h3 {
	font-size: 22px;
	color: #333333;
	display: inline-block;
	padding-top: 20px;
}
.footer-box1 h3:before {
	content: '';
	display: inline-block;
	width: 10.36px;
	height: 10.02px;
	background-color: #6294A2;
	border-radius: 50px;
	margin-left: 20px;
}
.footer-box1 h4 {
	color: #707070;
	display: inline-block;
	padding-left: 30px;
}
.footer-box1 h5 {
	font-size: 16px;
	color: #333333;
	padding-top: 40px;
}
.footer-box1 p {
	font-size: 15px;
	color: #707070;
	padding-top: 20px;
}
.middle-box {
	width: 326px;
	height: 140px;
}
.footer-box2 {
	width: 268px;
	height: 160px;
	padding-top: 15px;
}
.footer-box2 div {
	width: 82px;
	height: 160px;
	padding-top: 8px;
	padding-bottom: 8px;
}
.footer-box2 h4 {
	font-size: 15px;
	color: #333333;
	padding-top: 8px;
	padding-bottom: 8px;
}
.footer-box2 a {
	font-size: 15px;
	color: #707070;
	padding-top: 8px;
}
.footer-box3 {
	width: 268px;
	height: 160px;
	padding-top: 15px;
}
.footer-box3 div {
	width: 82px;
	height: 160px;
	padding-top: 8px;
	padding-bottom: 8px;
}
.footer-box3 h4 {
	font-size: 15px;
	color: #333333;
	padding-top: 8px;
	padding-bottom: 8px;
}
.footer-box3 a {
	font-size: 15px;
	color: #707070;
	padding-top: 8px;
	padding-bottom: 
}
.footer-box4 {
	width: 129px;
	height: 131px;
	padding-top: 25px;
}
.footer-box4 h4 {
	font-size: 15px;
	color: #333333;

}
 .footer-logo {
	margin-top: 10px;
}
.footer-box4 h5 {
	font-size: 15px;
	color: #333333;
	padding-top: 40px;
	padding-bottom: 10px;
}
.last-link {
	font-size: 15px;
	color: #707070;
}